---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for category in collections.categories %}
    <url>
        <loc>{{global_index.url}}/{{ category | slug }}</loc>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}
    {% for page in collections.all %}
    <url>
        <loc>{{global_index.url}}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
        {% if page.url == '/' %}<changefreq>weekly</changefreq>
        <priority>1.0</priority>{% elif '/tratamientos/' in page.url %}<changefreq>monthly</changefreq>
        <priority>0.8</priority>{% elif '/blog/' in page.url or page.url == '/blog/' %}<changefreq>monthly</changefreq>
        <priority>0.6</priority>{% elif '/es/legal/' in page.url %}<changefreq>yearly</changefreq>
        <priority>0.2</priority>{% else %}<changefreq>monthly</changefreq>
        <priority>0.7</priority>{% endif %}
    </url>
    {% endfor %}
</urlset>