<!-- content_text.njk -->
<section class="inview " data-scroll-section>  
  <div class="container-3  pb-64">
    <div class="row sm:reverse   ">

      <div class="col-xs-12">

        <div class="innermarkdown"> 

          {{ content  | safe }}
        </div>
        
        <div class="mt-32 pt-32 border-top">
          <div class="is-flex gap-16 flex-wrap align-center">
            <a href="/tratamientos/" class="btn btn-secondary">Ver todos los tratamientos</a>
            <a href="/contacto/" class="btn btn-primary">Solicitar cita</a>
            <a href="/agenda/" class="btn btn-outline">Agenda online</a>
          </div>
        </div>
   
      </div>



    </div>
</section>