<!-- content_4.njk -->
<section class="bg-color  " data-scroll-section>
  <div class="row  smmax:reverse   ">
    <div class="col-xs-12 col-sm-6 front-text  align-middle ">
      <div class="wmax-450 mx-auto text-left">
        <h4 class="text-14-r  c-accent letter-3 mb-8 "> {{ whytitle0_title | mdbr | safe }}</h4>
        <h4 class="fluid-7-m mb-24  "> {{ whytitle0_subtitle | mdbr | safe }}</h4>
        <h4 class="fluid-9-r  "> {{ whytitle0_description | mdbr | safe }}</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1 o-hidden ">
      <img class="parallax-image c-image" data-scroll data-scroll-speed="-1" src="/assets/static/images/{{whytitle0_img}}"
        alt="">
    </div>
  </div>
</section>