<!-- content_6.njk -->

<section class=" " data-scroll-section >
  <div class="container pt-64 pb-64">
    
        <div class="row   ">


    
          <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1 o-hidden  ">

            <img  class="parallax-image c-image" data-scroll data-scroll-speed="-1" src="/assets/static/images/{{ content_6_image }}" alt="">
          </div>
    
    

          <div class="col-xs-12 col-sm-6 front-text  align-middle">
            <div class="wmax-450 mx-auto ">
              <h4 class="text-14-r  c-accent letter-3   "> {{ content_6_subtitle | mdbr | safe }}</h4> 
              <h4 class="fluid-7-m mb-24  "> {{ content_6_title | mdbr | safe }}</h4> 
          
              <h4 class="fluid-9-r mb-32  "> {{ content_6_description | mdbr | safe }}</h4>
              
              <div class="is-flex gap-16 flex-wrap">
                <a href="/la-clinica/" class="btn btn-primary">Conoce nuestra clínica</a>
                <a href="/tratamientos/" class="btn btn-secondary">Ver tratamientos</a>
              </div>
    
            </div>
        </div>
    
    

  
  </div>
  
  </section>