<!-- footer_3.njk -->
<footer class=" front-section  bg-light   " data-scroll-section>
  <div class="container mx-auto  pt-64 pb-64 ">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="fluid-10-m c-accent mb-16 ">
          {{global_index.footer_1}}
        </div>
        <div class="text-14-r mb-16">
          {{global_index.empresa_legal_direccion}}
        </div>
        <div class="text-14-r mb-16">
          <a href="mailto:info@centredentalbaste.com"> {{global_index.email}}</a>
        </div>
        <div class="text-14-r mb-16">
          <a href="tel:+34{{global_index.telefono}} "> {{global_index.telefono}} </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 mt-32 sm:mt-0">
        <div class="fluid-10-m c-accent mb-24">Tratamientos</div>
        <ul class="list-clear ttc  ">
          {% for tratamiento in collections.tratamientos %}
          {% if tratamiento.data.seccion %}
          <li>
            <a href="{{ tratamiento.url }}"><span>{{ tratamiento.data.seccion }}</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 mt-32 sm:mt-0">
        <div class="fluid-10-m c-accent  mb-24">Redes Sociales</div>
        <ul class=" list-clear ">
          <li>
            <a href=" {{ tratamiento.url }}"><span>{{ tratamiento.data.seccion }}</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/pages/Centre-Dental-Bast%C3%A9/215474381923133#!/pages/Centre-Dental-Bast%C3%A9/215474381923133"
              target="_blank" rel="noopener">
              Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/cdb_2001" target="_blank" rel="noopener">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/centredentalbaste/" target="_blank" rel="noopener">Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 mt-32 sm:mt-0">
        <div class="fluid-10-m c-accent  mb-24">Nuestros Centros</div>
        <ul class=" list-clear ">
          <li>
            <a href=" {{ tratamiento.url }}"><span>{{ tratamiento.data.seccion }}</span></a>
          </li>
          <li>
            <a href="https://centremedicbaste.com" target="_blank" rel="noopener">Centre Medic Basté</a>
          </li>
          <li>
            <a href="https://centredentalbaste.com" target="_blank" rel="noopener">Centre Dental Basté</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>