---
layout: layout/base.njk

---
<div class="height-sm bg-light"data-scroll-section>   </div>
<div class="container ptr-120 bg-light front-section pbr-120" data-scroll-section>  
    <div class="fluid-4-r mb-64">Seo Sitemapdddd</div>

    {% set redTextCount = 0 %} <!-- Inicializar el contador de red-text -->
    {% set totalCount = 0 %} <!-- Inicializar el contador total -->

            <ul class="list-clear">
                {# Ordenar y listar todas las páginas por título, excluyendo las sin título #}
                {% for page in collections.all | sort(attribute='data.metaTitle') %}
                {% if page.data.metaTitle and page.data.metaRobots and 'noindex' not in page.data.metaRobots %}
                    <li>
                        <a class="ttc" href="{{ page.url | url }}">{{ page.url | url }}</a>
                    </li>
                    <br>
                    <b>metaTitle:</b>
                    {% set titleClass = '' %}
                    {% if page.data.metaTitle.length < 30 or page.data.metaTitle.length > 65 %}
                        {% set titleClass = 'red-text' %}
                        {% set redTextCount = redTextCount + 1 %}
                    {% endif %}
                    <span class="{{ titleClass }}">
                        {% if page.data.metaTitle.length < 30 %}
                            {{ page.data.metaTitle }} (menos de 30)
                        {% elseif page.data.metaTitle.length > 65 %}
                            {{ page.data.metaTitle }} (más de 65)
                        {% else %}
                            {{ page.data.metaTitle }}
                        {% endif %}
                    </span>
                
                    {% set totalCount = totalCount + 1 %} <!-- Incrementar el contador -->
                    <br>
                    <b>metaDescription:</b>
                    {% set descriptionClass = '' %}
                    {% if page.data.metaDescription.length < 120 or page.data.metaDescription.length > 320 %}
                        {% set descriptionClass = 'red-text' %}
                        {% set redTextCount = redTextCount + 1 %}
                    {% endif %}
                    <span class="{{ descriptionClass }}">
                        {{ page.data.metaDescription }}
                    </span>

                
                    {% set totalCount = totalCount + 1 %} <!-- Incrementar el contador total -->
                    <br>
                    <b>metaKeywords:</b>
                    {% set keywordsClass = '' %}
                    {% if page.data.metaKeywords.split(',').length < 5 or page.data.metaKeywords.split(',').length > 10 %}
                        {% set keywordsClass = 'red-text' %}
                        {% set redTextCount = redTextCount + 1 %}
                    {% endif %}
                    <span class="{{ keywordsClass }}">
                        {{ page.data.metaKeywords }}
                    </span>
                    <br>
                    <b>metaRobots:</b>
                    {% set robotsClass = '' %}
                    {% if page.data.metaRobots.length > 160 %}
                        {% set robotsClass = 'red-text' %}
                        {% set redTextCount = redTextCount + 1 %}
                    {% endif %}
                    <span class="{{ robotsClass }}">
                        {{ page.data.metaRobots }}
                    </span>
                
                    <br>
                    <hr class="mt-32">
                {% endif %}
                {% endfor %}
            </ul>

<p>Total de elementos con clase <code>red-text</code>: {{ redTextCount }}</p>
<p>Total de elementos: {{ totalCount }}</p>
<p>Porcentaje de elementos con clase <code>red-text</code>: {{ (redTextCount / totalCount) * 100 | round(2) }}%</p>

</div>

<style>
    .red-text {
        color: red;
    }
</style>