---
layout: baseblog.njk
---
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ title }}",
    "image": [
      "https://{{ global.url }}{{ image }}"
    ],
    "author": {
      "@type": "Person",
      "name": "check pay"
    },
    "datePublished": "{{ date }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://{{ global.url }}/blog"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Checkqrpay",
      "logo": {
        "@type": "ImageObject",
        "url": "https://checkqrpay.com/assets/static/favicons/favicon_192x192.png"
      }
    }
  }
  </script>
{% import "macros/_insert.njk" as insert %}
{% set parent = global.blog %}

{% set next = collections.blog | nextInCollection(page.fileSlug) %}
{% set previous = collections.blog | prevInCollection(page.fileSlug) %}
{% set previous2 = collections.blog | prevInCollectionnext(page.fileSlug) %}
{% set next2 = collections.blog | nextInCollectionnext(page.fileSlug) %}

<div class="container-fluid">
  <div class="row"><div class="col-xs-12 height-xs"></div></div>
</div>

<div class="container-5 mx-auto pbr-64 inview innermarkdown" data-scroll-section>

  <a href="/blog/">
    <div class="p5-m c-accent mb-16">BLOG  </div>



    
  </a>

  <div class="p5-m c-accent mb-16">{{fecha | formatearFecha }}</div>

  <h1 class="fluid-4-m mb-16 mt-0">
    {% call insert.splitenpalabras(title , '',10,10 ) %} {% endcall %}
  </h1>


  {% for i in range(0, 8) %}
  {% if tags[i] %}
  <div class="tag-info">
    {{ tags[i] }}
  </div>
  {% endif %}
  {% endfor %}

  <div class="mb-120 mt-64">{{ content | safe  }}</div>



<div class="row">
  <div class="col-xs-12">
    <div class="fluid-6-l c-accent mb-16">Post relacionados</div>
    <hr>
  </div>
</div>


  <div class="row appear">
    {% if next %}
    <div class="col-xs-6">
      <a href="{{ next.url }} ">
        {% if next.data.image %}
        <div class="ar-16-9 border-24 p-relative o-hidden mb-24">
 
          <img class="video-cover" width="100%" src="/assets/static/images/blog/{{ next.data.image }}" alt="{{ next.data.imageAlt or next.data.title }}">
      
        </div>
        {% endif %}
        <div class="p5-m">{{ next.data.title }}</div>
      </a>
    </div>
    {% endif %}
    {% if previous %}
    <div class="col-xs-6">
      <a href="{{ previous.url }}">
        {% if previous.data.image %}
        <div class="ar-16-9 border-24 p-relative o-hidden mb-24">
          <img class="video-cover" width="100%" src="/assets/static/images/blog/{{ previous.data.image }}" alt="{{ previous.data.imageAlt or previous.data.title }}">
        </div>
        {% endif %}
        <div class="p5-m">{{ previous.data.title }}</div>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% include 'onepage/contacta_6.njk' %}